@model UserInfo
@{
	ViewBag.Title = "Kabul Et";
}

<h1 class="h4 text-center">Toplantı Katılım Formu</h1>
<form method="POST" action="">
	<div class="mb-3">
		<label asp-for="Name" class="form-label">Ad</label>
		<input asp-for="Name" required autocomplete="on" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="Phone" class="form-label">Telefon Numarası</label>
		<input asp-for="Phone" required autocomplete="on" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="Email" class="form-label">E-Posta Adresi</label>
		<input asp-for="Email" required autocomplete="on" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="KatilimDurumu" class="form-label">Katılım Durumu</label>
		<select asp-for="KatilimDurumu" required class="form-select">
			<option value="true">Evet, Geliyorum</option>
			<option value="false">Hayır, Gelmiyorum</option>
		</select>
	</div>
	<button class="btn btn-primary" type="submit">Kaydet</button>
</form>