@model UserInfo;
@{
	ViewBag.Title = "Katılım Durumu";
}
<main class="text-center">
	<h1 class="h4">Başvuru Durumu</h1>

	@if(Model.KatilimDurumu == true)
	{
		<p>Teşekkürler, @Model.Name toplantıya sizinle birlikte @ViewBag.PeopleCount kişi katılıyor.</p>
		<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply" >Katılımcıları Listele</a>
	}
	else{
		<p>Toplantıya katılım sağlamadığınız için üzgünüz, @Model.Name </p>
	}
</main>
